*{
 box-sizing: border-box;
 font-family: 'Quicksand', sans-serif;
 color: #FFFFFF;
}


body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
	text-align: center;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.titletext{
    margin: 0;
    padding: 0;
    /* opacity: 70%; */
}

p{
    opacity: 70%;
    padding: 0.5em;
    margin: 0;
    background-color: #303030;
    border-radius: 0.5em;
}

.header{
    width: 100%;
    height: fit-content;
    background-color: #212121;
}

.sider{
    width: 20%;
    max-width: 200px;
    min-width: 110px;
    height: calc(100vh - 37px);
    float:left;
    background-color: #212121;
    padding: 1em;
    position: relative;
    z-index: 100;
}

[data-p] {
    width: 30%;
	margin: 1em;
}

input[type="range"] {
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    /* width: 50px;
    height: 200px; */
    outline: none;
    background:transparent;
    /* transform: rotateZ(270deg); */
    flex: 1;
	height: 10vh;
	margin: 10px;
	display: flex;
	justify-content: center;
	align-items: stretch;
    margin: 0;
    z-index: 100;
 }


.colors{
    /* display: flex;
	align-items: center;
	justify-content: center;
    width: 100%; */
    /* height: 15vh; */
    padding: 0;
    /* padding-top: 0.5em;
    padding-bottom: 0.5em; */
    margin: 0;
    /* background-color: #424242; */
    border-radius: 0.5em;
    z-index: 100;
}


.colors > div{
    flex: 1;
	height: 10vh;
	margin: 1em;
	display: flex;
	justify-content: center;
	align-items: stretch;
    z-index: 100;
}

.colors > div :hover{
    cursor:pointer;
}


.colors > div > input{
    flex: 1;
	display: block;
	height: 100%;
    z-index: 100;
}

.resultinfo{
    width: 100%;
    height: 20vh;
    background-color: aqua;
}

.resultbody{
    width: 80%;
    height: calc(100vh - 37px);
    float:right;
    background-color: #FFFFFF;
    overflow: hidden;
    z-index: 100;
}

input[type="color"] {
	border: none;
    background-color: transparent;
}
input[type="color"]::-webkit-color-swatch, .result {
	border: none;
    padding: 0;
    border-radius: 0.5em;
}

/* BAJS */

.ett {
  content: '';
  position: absolute;
  top: 30%;
  left: 50%;
  width: 250vw;
  height: 250vw;
  margin-left: -125vw;
  transform-origin: 50% 50%;
  /* background-color: transparent; */
  border-radius: 38% 42%;
  /* box-shadow: inset 0 0 10vw rgba(255,0,255,0.8); */
  animation: spin 16s infinite linear;
  mix-blend-mode:normal;
  z-index: 99;
}

.två{
    content: '';
    position: absolute;
    top: 60%;
    left: 50%;
  width: 260vw;
  height: 260vw;
  margin-left: -125vw;
  transform-origin: 49% 51%;
  border-radius: 40% 38%;
  /* box-shadow: inset 0 0 10vw rgba(255,255,0,0.8); */
  animation: spin 13s infinite linear;
}

.tre {
      content: '';
  position: absolute;
  top: 45%;
  left: 50%;
  width: 240vw;
  height: 240vw;
  margin-left: -125vw;
  transform-origin: 51% 49%;
  border-radius: 48% 42%;
  /* box-shadow: inset 0 0 10vw rgba(0,255,255,0.8); */
  animation: spin 10s infinite linear;
}

@keyframes spin {
  100% { transform: rotate(360deg); }
}

